.agence {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 95%;
    margin: 0 auto;
    padding-bottom: 35px;
}

.agence section {
    position: relative;
    min-height: 35vh;
    max-height: min-content;
    min-width: 310px;
    overflow: clip;
}

.agence section h2 {
    display: block;
    width: max-content;
    margin: 22px 0 44px 0;
    font-size: 3em;
}

.agence section h4 {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 22px;
    /* padding-left: 22px; */
}

.agence section p:not(.profil div p) {
    display: block;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5em;
    margin-bottom: 25px;
    font-size: 1.1em;
}

.agence .employees {
    height: auto;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 220px);
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 60px;
    margin-bottom: 100px;
}

.profil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    min-width: 220px;
    max-width: 100%;
    height: max-content;
}

.profil img {
    height: 220px;
    width: 220px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 1px rgba(30, 30, 30, .1);
}

.profil h3 {
    font-size: 1.3em;
}

.profil p {
    font-size: 1em !important;
    margin-bottom: 0px !important;
}

.profil div {
    width: 100%;
}

#dessin {
    width: 100%;
    margin-bottom: 40px;
}

#plan_agence {
    height: max-content;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: clip;
    img {
        width: 45%;
        min-width: 250px;
        aspect-ratio: auto;
    }
}