<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/atelier-ca-cms.png" type="image/png">
    {{!-- Fontawesome --}}
    <link  href="/plugins/fontawesome/fontawesome-all.min.css" rel="stylesheet" />
    {{!-- Toastify --}}
    <link href="/plugins/toastify/toastify.css" rel="stylesheet"/>
    <script src="/plugins/toastify/toastify.js"></script>

    {{!-- CUSTOM --}}
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/nav.mjs"></script>
    <script defer type="module" src="/js/main.mjs"></script>

    <title>CMS | Atelier-CA</title>
</head>
<body>
    <nav>
        <h1>
            CMS | Atelier-CA
        </h1>
        <div id="bloc-logo">
            <img src="/img/logo_agence.png" alt="Atelier CA logo">
        </div>

        <ul>
            <li data-nav="" data-link="slider">
                <a href="/slider">
                    <i class="fas fa-image"></i>
                    <p>
                        Slider
                    </p>
                </a>
            </li>
            <li data-nav="" data-link="projets">
                <a href="/projets">
                    <i class="fas fa-folder"></i>
                    <p>
                        Projets
                    </p>
                </a>
            </li>
            <li data-nav="" data-link="new_projet">
                <a href="/new_projet">
                    <i class="fas fa-plus-square"></i>
                    <p>
                        Nouveau projet
                    </p>
                </a>
            </li>
            {{!-- <li data-nav="" data-link="depot">
                <a href="/depot">
                    <i class="fas fa-images"></i>
                    <p>
                        Déposer des images
                    </p>
                </a>
            </li> --}}
        </ul>

        <hr>

        <div id="btnToSaveAndDeploy">
            <button data-save-gh="">
                <i class="fab fa-github"></i>
                <i class="fas fa-sync none"></i>
                <p>
                    Sauvegarder
                </p>
            </button>
            <button data-publish-gh="">
                <i class="fab fa-github-alt"></i>
                <i class="fas fa-sync none"></i>
                <p>
                    Sauvegarder et Publier
                </p>
            </button>
        </div>
    </nav>

    <main>
        {{{body}}}
    </main>
</body>
</html>